<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta name="keywords" content="@ViewData["keywords"]" />
    <meta name="description" content="@ViewData["description"]" />
    <meta name="author" content="HaiDong" />
    <meta name="HelpUrl" content="https://www.sunuer.com/" />
    <meta name="renderer" content="webkit" />
    <link href="~/js/layuiadmin/layui/css/layui.css" rel="stylesheet" />
    <link href="~/css/admin.css" rel="stylesheet" />
    <link href="~/css/css.css" rel="stylesheet" />
    <script src="~/js/layuiadmin/layui/layui.js"></script>
    <script src="~/js/jquery-3.7.1.min.js"></script>
</head>
<body class="TabPagesBody">
    @RenderBody()

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>