@page
@model WebSite.Pages.Manage.admin_indexModel
@{
    Layout = "_ManageIndexLayout";
}
<style>
    .suuer {
        position: absolute;
        bottom: 0px;
        left: 0px;
        margin-top: 20px;
        font-size: 14px;
        width: 100%;
        line-height: 36px;
        color: #666;
        text-align: center;
    }

        .suuer a {
            color: #acacad;
        }

    .hd {
        height: 60px;
        width: 100%;
    }
</style>
<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!-- Header Area -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect>
                    <a href="javascript:;" layadmin-event="flexible" title="Sidebar Toggle">
                        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="https://www.sunuer.com" target="_blank" title="Frontend">
                        <i class="layui-icon layui-icon-website"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" layadmin-event="refresh" title="Refresh">
                        <i class="layui-icon layui-icon-refresh-3"></i>
                    </a>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;">
                        <cite>@Model.AdminModel.AdminNick</cite>
                    </a>
                    <dl class="layui-nav-child">
                        @if (Model.AdminModel.Roles.IndexOf("|14|") > -1)
                        {
                            <dd><a lay-href="Admins/Adminview">Basic Information</a></dd>
                        }
                        @if (Model.AdminModel.Roles.IndexOf("|15|") > -1)
                        {
                            <dd><a lay-href="Admins/AdminPassWord">Change password</a></dd>
                        }
                        <dd style="text-align: center;"><a href="javascript:void(0);" onclick="logout()" >Logout</a></dd>
                    </dl>
                </li>

            </ul>
        </div>
        <!-- Sidebar Menu -->
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo" lay-href="https://www.sunuer.com">
                    <span>Sunuer Manage</span>
                </div>
                <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">

                    @if (Model.AdminModel.Roles.IndexOf("|9|") > -1)
                    {
                        <li data-name="set" class="layui-nav-item">
                            <a href="javascript:;" lay-tips="Administrator Management" lay-direction="2">
                                <i class="layui-icon layui-icon-user"></i>
                                <cite>Administrator Management</cite>
                            </a>
                            <dl class="layui-nav-child">
                                @if (Model.AdminModel.Roles.IndexOf("|1|") > -1)
                                {
                                    <dd>
                                        <a lay-href="Admins/AdminPowerList">Permissions Management</a>
                                    </dd>
                                }
                                @if (Model.AdminModel.Roles.IndexOf("|5|") > -1)
                                {
                                    <dd>
                                        <a lay-href="Admins/AdminRolesList">Role Management</a>
                                    </dd>
                                }
                                @if (Model.AdminModel.Roles.IndexOf("|9|") > -1)
                                {
                                    <dd>
                                        <a lay-href="Admins/AdminList">Administrator Management</a>
                                    </dd>
                                }
                            </dl>
                        </li>

                    }

                    @if (Model.AdminModel.Roles.IndexOf("|24|") > -1)
                    {
                        <li data-name="set" class="layui-nav-item">
                            <a lay-href="ManageSets/ManageSetEdt" lay-tips="System Settings" lay-direction="2">
                                <i class="layui-icon layui-icon-set"></i>
                                <cite>System Settings</cite>
                            </a>
                        </li>

                    }
                    @if (Model.AdminModel.Roles.IndexOf("|13|") > -1)
                    {
                        <li data-name="set" class="layui-nav-item">

                            <a href="javascript:;" lay-tips="My Settings" lay-direction="3">
                                <i class="layui-icon layui-icon-username"></i>
                                <cite>My Settings</cite>
                            </a>
                            <dl class="layui-nav-child">
                                @if (Model.AdminModel.Roles.IndexOf("|14|") > -1)
                                {
                                    <dd><a lay-href="Admins/Adminview">Basic Information</a></dd>
                                }
                                @if (Model.AdminModel.Roles.IndexOf("|15|") > -1)
                                {
                                    <dd><a lay-href="Admins/AdminPassWord">Change password</a></dd>
                                }
                            </dl>
                        </li>
                    }
                    @if (Model.AdminModel.Roles.IndexOf("|16|") > -1)
                    {
                        <li data-name="set" class="layui-nav-item">

                            <a href="javascript:;" lay-tips="Management" lay-direction="3">
                                <i class="layui-icon layui-icon-read"></i>
                                <cite>Management</cite>
                            </a>
                            <dl class="layui-nav-child">
                                @if (Model.AdminModel.Roles.IndexOf("|17|") > -1)
                                {
                                    <dd><a lay-href="Articless/ArticleCategoryList">Article Category</a></dd>
                                }
                                @if (Model.AdminModel.Roles.IndexOf("|16|") > -1)
                                {
                                    <span id="Category"></span>
                                }
                               
                            </dl>
                        </li>
                    }

                    @if (Model.AdminModel.Roles.IndexOf("|400|") > -1)
                    {
                        <li data-name="set" class="layui-nav-item">

                            <a href="javascript:;" lay-tips="Message管理" lay-direction="3">
                                <i class="layui-icon layui-icon-template"></i>
                                <cite>Manage Message</cite>
                            </a>
                            <dl class="layui-nav-child">
                                @if (Model.AdminModel.Roles.IndexOf("|401|") > -1)
                                {
                                    <dd><a lay-href="LeaveMessages/LeaveMessageSetEdt">Message Configuration</a></dd>
                                }
                                @if (Model.AdminModel.Roles.IndexOf("|402|") > -1)
                                {
                                    <dd><a lay-href="LeaveMessages/LeaveMessageAdd">Add</a></dd>
                                    <dd><a lay-href="LeaveMessages/LeaveMessageList">Message</a></dd>
                                }
                            </dl>
                        </li>
                    }
                    <li data-name="set" class="layui-nav-item">
                        <a lay-href="SMS/" lay-tips="SMS/Email" lay-direction="2">
                            <i class="layui-icon layui-icon-set"></i>
                            <cite>SMS/Email</cite>
                        </a>
                    </li>
                </ul>
                <div class="hd"></div>
                <div class="suuer">©@DateTime.Now.ToString("yyyy") <a href="https://www.sunuer.com">Sunuer Manage</a> <br />All Rights Reserved</div>
            </div>
        </div>
        <!-- Page Tabs -->
        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-down">
                <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;"></a>
                        <dl class="layui-nav-child layui-anim-fadein">
                            <dd layadmin-event="closeThisTabs"><a href="javascript:;">Close Current Tab</a></dd>
                            <dd layadmin-event="closeOtherTabs"><a href="javascript:;">Close Other Tabs</a></dd>
                            <dd layadmin-event="closeAllTabs"><a href="javascript:;">Close All Tabs</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="layui-tab" lay-unauto lay-allowclose="true" lay-filter="layadmin-layout-tabs">
                <ul class="layui-tab-title" id="LAY_app_tabsheader">
                    <li lay-id="consoles/console" lay-attr="console" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
                </ul>
            </div>
        </div>
        <!-- Main Content -->
        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show">
                <iframe src="consoles/console" frameborder="0" class="layadmin-iframe"></iframe>
            </div>
        </div>
        <!-- Auxiliary Element, usually used as an overlay on mobile devices -->
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>
<script>
    layui.config({
        base: '/js/layuiadmin/' //Path of static resources
    }).extend({
        index: 'lib/index' //Main entry module
        , lang: 'lang/en' // Extend a language module
    }).use('index');
    function logout() {
        // 使用时间戳避免缓存
        location.replace('LoginOut?' + new Date().getTime());
    }
    function showCategory() {

        $("#Category").html("<li><div style=\"text-align:center;\"><img src=\"/images/progress.gif\" /></div></li>")
             $.ajax({
            url: "/api/ArticleCategory/Get",
            type: "Post",
            data: {
                ParentID:1
            },
            success: function(datax) {
                if (datax.code == 0) {
                    let str = '';  //Ensure str is an empty string

                    // 循环遍历 Return 的datax.data
                    for (let i = 0; i < datax.data.length; i++) {
                        // Concatenate each field object into an HTML table row

                                    str += `<dd><a lay-href="Articless/ArticlesList?BigID=${datax.data[i].BigID}">${datax.data[i].BigTitle}</a></dd>`;
                           }

                    // Insert the concatenated HTML into the #Category element
                            $("#Category").html(str);
                        }
            }
        });

            }
        showCategory();
</script>
