@page
@model SunuerManageEn.Pages.Manage.AgreementModel
@{
}

<style>
    .countent{ width:1100px; background-color:#fff; border-radius:6px; padding:40px 60px; margin:0 auto; line-height:36px;color:#666;}

        .countent .title {
            font-weight: bold;
            font-size: 26px;
            text-align: center;
        }

        .countent .t1 {
            font-weight: bold;
            font-size: 16px;
        }

        .countent .t2 {
            font-weight: bold;
            font-size: 14px;
        }
    .countent .desn{  font-size:13px; }
    .countent a{ color:#666; font-weight:bold;}
</style>
<div class="countent">
    <div class="title">Sunuer Manage Usage Disclaimer</div>
    <div class="desn">

        <span class="t1">Important Notice：</span>  <br />
        &nbsp;&nbsp;&nbsp;&nbsp;Before using the Sunuer Manage management platform, developed by the Sunuer technical team and its contributors (hereinafter referred to as "the Team"), please carefully read and fully understand this disclaimer.By choosing to use Sunuer Manage, you are considered to have fully read, understood, and accepted the entire content of this disclaimer. If you do not agree with any part of this disclaimer, you should immediately stop using Sunuer Manage.
        <br />
        <span class="t1">
            1. Product Description
        </span>  <br />
        &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;Sunuer Manage is a free and open-source management platform designed to help users efficiently develop management systems.
        <br />
        <span class="t1">
            2. Commitment and Responsibilities for Use
        </span> <br />
        <span class="t2">
            &nbsp;&nbsp;&nbsp;&nbsp;1. Legal Use Commitment
        </span><br />
        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;You agree to use Sunuer Manage in a legal and reasonable manner and shall not use this tool for any illegal activities or any actions that infringe upon the legal rights of others. You shall not use Sunuer Manage for any web platforms or projects that violate laws and regulations.

        <br />
        <span class="t2">
            &nbsp;&nbsp;&nbsp;&nbsp;2. Usage Risks
        </span><br />
        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;By using Sunuer Manage, you assume all potential risks that may arise, including but not limited to:The generated code may not fully meet specific business requirements.Risks related to data leaks or system failures.The Team shall not be held responsible for any direct, indirect, incidental, or consequential losses resulting from the use of this tool.

        <br />

        <span class="t2">
            &nbsp;&nbsp;&nbsp;&nbsp;3. Consequences of Misuse
        </span><br />
        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;You shall not use Sunuer Manage for the following activities:<br />

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;Distribute malware or viruses;<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;Perform unauthorized data scraping or data manipulation operations;<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;Use the tool to conduct any activities that harm the legitimate rights of others;<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;Engage in any other illegal activities or violations of laws and regulations.<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;In the event of a violation of these terms, you will bear full legal responsibility, including but not limited to civil compensation and criminal liability.<br />

        <span class="t1">
            3. Privacy Protection
        </span> <br />

        <span class="t2">
            &nbsp;&nbsp;&nbsp;&nbsp; User Data Protection
        </span><br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Our team is committed to respecting and protecting the personal privacy of users. We will not steal your personal information.<br />
        <span class="t1">
            4. Intellectual Property Statement
        </span> <br />

        <span class="t2">
            &nbsp;&nbsp;&nbsp;&nbsp;Ownership of Intellectual Property
        </span> <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Our team holds full intellectual property rights (including but not limited to trademark rights, patent rights, copyrights, etc.) to Sunuer Manage and all related technologies, codes, logos, interface designs, and other content. Without the written authorization of our team, no organization or individual may independently apply for intellectual property related to Sunuer Manage.
        <br />

        <span class="t2"> &nbsp;&nbsp;&nbsp;&nbsp;Trademark and Patent Protection</span> <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sunuer and its logo have been registered as trademarks in relevant countries and regions. Unauthorized use will constitute an infringement. Our team reserves the right to pursue legal responsibility for any related infringement.
        <br />
        <span class="t1">
            5. Open Source Component Usage Statement
        </span> <br />

        <span class="t2">
            &nbsp;&nbsp;&nbsp;&nbsp;Layui and Other Open Source Code
        </span> <br />
        &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;Sunuer Manage uses open-source components such as Layui in its front-end development. These open-source components are governed by their respective open-source licenses (e.g., MIT License, GPL, etc.). You should comply with the relevant open-source licensing agreements when using these components.
        <br />&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This tool does not modify any open-source components, and all copyrights of the open-source components belong to their original authors. Please adhere to the original licensing agreements when using them.
        <br />
        <span class="t2">  &nbsp;&nbsp;&nbsp;&nbsp;Responsibility for Open Source Code  </span> <br />
        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;Our team does not assume any responsibility for third-party open-source code. If you encounter any issues with these open-source components, please seek assistance from the relevant open-source community or developers.

        <br />
        <span class="t1">
            6. Disclaimer
        </span> <br />

        <span class="t2">
            &nbsp;&nbsp;&nbsp;&nbsp;Product Functionality Risks
        </span> <br />
        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;Our team makes every effort to ensure the functionality of Sunuer Manage is complete, but we do not guarantee that it is suitable for all development scenarios. Due to improper use of the management platform or specific environmental factors, errors or failure to meet certain requirements may occur. The team is not responsible for any losses caused by such issues.


        <br />
        <span class="t2">
            &nbsp;&nbsp;&nbsp;&nbsp;Exemption from Legal Liability
        </span> <br />
        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;Our team is not responsible for any damages incurred by the user due to the use of Sunuer Manage, including but not limited to losses resulting from software defects, operational errors, data loss, legal disputes, etc. The user assumes all consequences arising from the use of this management platform.
        <br />

        <span class="t2">
            &nbsp;&nbsp;&nbsp;&nbsp;Exemption from Responsibility for Open Source Components
        </span> <br />
        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;Regarding the open-source components used in Sunuer Manage, our team does not make any guarantees about their functionality, compatibility, performance, etc., and will not be held liable for any losses arising from the use of these components.
        <br />
        <span class="t1">
            7. Secondary Development Statement
        </span> <br />
        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;If you perform secondary development on the source code of Sunuer Manage, you must retain the original copyright information in your derivative version.
        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;You are free to edit and distribute the source code, but please ensure that the original copyright notice is preserved in your modified or distributed version, and clearly indicate the original developers and licensing information of our team.
        <br />
        <span class="t1">
            8. Disclaimer Update
        </span> <br />

        <span class="t2">
            &nbsp;&nbsp;&nbsp;&nbsp; Terms Changes
        </span> <br />
        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;Our team reserves the right to modify the terms of this statement and its attached content at any time and will notify users via an official website announcement. The updated statement will take effect from the date of publication. Continued use of Sunuer Manage after the update indicates your acceptance of the modified terms.
        <br />

        <span class="t2">
            User Responsibility
        </span> <br />
        &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;Users should regularly review the latest version of this statement and its related terms (the latest version is available at<a href="https://www.sunuer.com/SunuerManage/?nid=20" title="SunuerManage" target="_blank">https://www.sunuer.com/SunuerManage/?nid=20</a>)， to ensure they are informed about the most recent version of the statement. If you continue to use Sunuer Manage after the statement has been updated, it is considered that you have read and accepted the new terms.
        <br />
        <span class="t1">
            9. Legal Applicability and Dispute Resolution
        </span> <br />
        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;This statement is governed by the laws of the People's Republic of China, and any disputes arising from the use of Sunuer Manage will be under the jurisdiction of the court located where our team is based. If any part of this statement is deemed invalid or unenforceable, it shall be modified in accordance with legal provisions, while the remaining parts shall remain valid.
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;Date：2024-11-27<br />
    </div>

</div>