@page
@model SunuerManageEn.Pages.Manage.Articless.ArticleCategoryAddModel
@{
}
<style>
    .layui-form-label {
        position: relative;
        float: left;
        display: block;
        padding: 9px 15px;
        width: 160px;
        font-weight: 400;
        line-height: 20px;
        text-align: right;
    }

    .layui-input-block {
        margin-left: 190px;
        min-height: 36px;
    }
    </style>
<div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">Superior<span class="red">*</span></label>
        <div class="layui-input-inline input-inline nselect">
            <div id="ParentIDnow"></div>
            <input name="ParentID" id="ParentID" class="layui-input" type="hidden" lay-verify="required" autocomplete="off" value="@Model.ParentID" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Category Name<span class="red">*</span></label>
        <div class="layui-input-block">
            <input type="text" name="BigTitle" lay-verify="required" placeholder="Please enter Category Name" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Optimized Title<span class="red">*</span></label>
        <div class="layui-input-block">
            <input type="text" name="KeyTitle" lay-verify="required" placeholder="Please enter Optimized Title" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Keywords</label>
        <div class="layui-input-block">
            <input type="text" name="KeyWord"  placeholder="Please enter Keywords" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Description</label>
        <div class="layui-input-block">
            <textarea name="KeyDesn" class="layui-textarea" placeholder="" id="KeyDesn"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Sort Order<span class="red">*</span></label>
        <div class="layui-input-block">
            <input type="text" name="Sorts" lay-verify="required|number" placeholder="Sort Order" autocomplete="off" class="layui-input" value="0" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Redirect Link</label>
        <div class="layui-input-block">
            <input type="text" name="SiteUrl" placeholder="Please enter Redirect Link" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Navigation<span class="red">*</span></label>
        <div class="layui-input-block">
            <input type="radio" name="Statues" value="0" title="Show" lay-filter="Statues" checked>
            <input type="radio" name="Statues" value="1" title="No Show" lay-filter="Statues">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Images</label>
        <div class="layui-input-block">
            <div id="UpImageImages" class="layui-upload-list" style="float: left; margin-left: 10px;">
                <img id="ImageImages" class="layui-upload-img HeadPortrait_Ordinary" src='/images/morenimg.png'>
                <div class="layui-upload-drag" id="ImageUpImages" style="padding: 0px; display: block;">
                    <i class="layui-icon">&#xe67c;</i>
                    <p>Click to upload, or drag and drop the file here.</p>
                </div>

                <input id="PicturePathImages" name="Images" type="hidden" value="/images/morenimg.png" />

            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Images Phone</label>
        <div class="layui-input-block">
            <div id="UpImageImagesPhone" class="layui-upload-list" style="float: left; margin-left: 10px;">
                <img id="ImageImagesPhone" class="layui-upload-img HeadPortrait_Ordinary" src='/images/morenimg.png'>
                <div class="layui-upload-drag" id="ImageUpImagesPhone" style="padding: 0px; display: block;">
                    <i class="layui-icon">&#xe67c;</i>
                    <p>Click to upload, or drag and drop the file here.</p>
                </div>

                <input id="PicturePathImagesPhone" name="ImagesPhone" type="hidden" value="/images/morenimg.png" />

            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
            <input type="button" lay-submit lay-filter="layuiadmin-app-form-submit" class="layui-btn btn" id="layuiadmin-app-form-submit" value=" Confirm Add ">
        </div>
    </div>
</div>

<script src="/js/layuiadmin/xm-select.js"></script>
<style>
    .nselect {
        z-index: 20;
    }

    .wrap {
        width: 80%;
        margin: 40px auto;
        display: flex;
    }

        .wrap > div {
            flex: 1;
            margin: 0 10px;
        }

        .wrap p {
            font-size: 16px;
            font-weight: 600;
            line-height: 40px;
            color: #ffffff;
        }

    .layui-tree-line .layui-tree-entry:hover .layui-tree-txt {
        color: #999;
        text-decoration: none;
        transition: .3s;
    }
</style>
<script>
    //Single image upload (Images)
    layui.use('upload', function() {
        upload = layui.upload;
        var uploadInst = upload.render({
            elem: '#ImageUpImages',
            url: '/api/Files/Upload',
            accept: 'images',
            auto: true,
            size: 1420,
            choose: function(obj) {
                //Pre-read local files (Not supported in IE8)
                obj.preview(function(index, file, result) {
                    $('#ImageImages').attr('src', result); // Image link（base64）
                });
            },
            done: function(res) {
                if (0 != res.Code) {
                    return layer.msg(res.Messge);
                }
                else {
                    $('#PicturePathImages').val(res.FileUrl);
                    $('#ImageImages').attr('src', res.FileUrl);
                    return layer.msg(res.Messge);
                }
            },
            error: function() {
                //Demonstrate Failed Status and implement retry
                var demoText = $('#errorText');
                demoText.html('<span style="color: #FF5722;">Upload failed</span> <a class="layui-btn layui-btn-xs demo-reload">Retry</a>');
                demoText.find('.demo-reload').on('click', function() {
                    uploadInst.upload();
                });
            }
        });
        var uploadInst2 = upload.render({
            elem: '#ImageUpImagesPhone',
            url: '/api/Files/Upload',
            accept: 'ImagesPhone',
            auto: true,
            size: 1420,
            choose: function(obj) {
                //Pre-read local files (Not supported in IE8)
                obj.preview(function(index, file, result) {
                    $('#ImageImagesPhone').attr('src', result); // Image link（base64）
                });
            },
            done: function(res) {
                if (0 != res.Code) {
                    return layer.msg(res.Messge);
                }
                else {
                    $('#PicturePathImagesPhone').val(res.FileUrl);
                    $('#ImagePathImagesPhone').attr('src', res.FileUrl);
                    return layer.msg(res.Messge);
                }
            },
            error: function() {
                //Demonstrate Failed Status and implement retry
                var demoText = $('#errorText');
                demoText.html('<span style="color: #FF5722;">Upload failed</span> <a class="layui-btn layui-btn-xs demo-reload">Retry</a>');
                demoText.find('.demo-reload').on('click', function() {
                    uploadInst2.upload();
                });
            }
        });
        //ImagesTitle View
        layer.photos({
            photos: '.layui-upload-list',
            anim: 0 //Select from 0-6 to specify the popup image animation type
        });

    });
    layui.config({
        base: '/js/layuiadmin/' //Path of static resources
    }).extend({
        index: 'lib/index' //Main entry module
        , lang: 'lang/en' // Extend a language module
    }).use(['index', 'form', 'layer'], function() {
        var $ = layui.$
            , form = layui.form;
        $.ajax({
            url: "/api/ArticleCategory/Select",
            type: "post",
            data: { ParentID: 0, BigID: "@Model.ParentID" },
            dataType: "Json",
            success: function(data) {
                var demo1 = xmSelect.render({
                    el: '#ParentIDnow',
                    model: { label: { type: 'text' } },
                    radio: true,
                    clickClose: true,
                    tree: {
                        show: true,
                        strict: false,
                        expandedKeys: true,
                    },
                    height: 'auto',
                    on: function(data) {
                        if (data.isAdd) {
                            $("#ParentID").val(data.arr[0].value);
                        }
                    },
                    data: function() {
                        return data.data
                    }
                })
            }
        })
        //Listen for submission
        form.on('submit(layuiadmin-app-form-submit)', function(data) {
            var field = data.field; //Get submitted fields
            var index = parent.layer.getFrameIndex(window.name); //First, get the current iframe layer's index
            var count = layer.load(1);
            $.ajax({
                url: "/api/ArticleCategory/Add",
                type: "post",
                async: false,
                data: {
                    ParentID: data.field.ParentID,
                    Statues: data.field.Statues,
                    BigTitle: data.field.BigTitle,
                    KeyTitle: data.field.KeyTitle,
                    KeyWord: data.field.KeyWord,
                    KeyDesn: data.field.KeyDesn,
                    Images: data.field.Images,
                    ImagesPhone: data.field.ImagesPhone,
                    Sorts: data.field.Sorts,
                    SiteUrl: data.field.SiteUrl
                        },
                success: function(datax) {
                    layer.close(count);
                    if (0 == datax.code) {
                        layer.msg(datax.msg, { time: 1000 }, function() {
                            parent.location.reload()
                            parent.layer.close(index)
                        });
                    } else {
                        layer.msg(datax.msg, {
                            icon: 1,
                            time: 3000 //Close after 2 seconds (if not configured, the default is 3 seconds)）
                        }, function() {
                            layer.closeAll();
                        });
                    }
                },
                error: function(e) {
                    layer.closeAll();
                    alert("Error！！");
                }
            });
        });
    })
</script>