@page
@model SunuerManageEn.Pages.Manage.Admins.AdminPassWordModel
@{
}

<style>
    .layui-form-label {
        width: 160px;
    }

    .layui-form-item .layui-input-inline {
        float: left;
        width: 290px;
        margin-right: 10px;
    }
</style>
<!-- Basic Information -->
<div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">Username</label>
        <div class="layui-input-inline">
            <input class="layui-input" name="AdminName" type="text" value="@Model.Model.AdminName" disabled="disabled">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Nickname</label>
        <div class="layui-input-inline">
            <input name="AdminNick" class="layui-input" type="text" placeholder="Nickname" value="@Model.Model.AdminNick" disabled="disabled">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Original Password</label>
        <div class="layui-input-inline">
            <input name="OldPass" class="layui-input" type="password" lay-verify="required" placeholder="Original Password" value="">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">New Password</label>
        <div class="layui-input-inline">
            <input name="Pass" class="layui-input pass" type="password" lay-verify="required" placeholder="New Password" value="">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"> Confirm New Password</label>
        <div class="layui-input-inline">
            <input name="Passs" class="layui-input passs" type="password" lay-verify="required|Pass" placeholder=" Confirm New Password" value="">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
            <input type="button" lay-submit lay-filter="layuiadmin-app-form-submit" class="layui-btn btn" id="layuiadmin-app-form-submit" value=" Confirm Edit">
        </div>
    </div>
</div>
<script>
    layui.config({
        base: '/js/layuiadmin/' //Path of static resources
    }).extend({
        index: 'lib/index' //Main entry module
        , lang: 'lang/en' // Extend a language module
    }).use(['index', 'form'], function () {
        var $ = layui.$
        , form = layui.form;
        form.verify({
            Pass: function (value, item) { //value: The value of the form, item: The DOM object of the form
                if ($('.passs').val() != $('.pass').val()) {
                    return 'The passwords do not match, please confirm ';
                }
            }

        });

        //Listen for submission
        form.on('submit(layuiadmin-app-form-submit)', function (data) {
            var field = data.field; //Get submitted fields
            var index = layer.load();
            //After successful Ajax submission, close the current popup and reload the table
            //$.ajax({});
            $.ajax({
                url: "/api/Admin/PassWord",
                type: "post",
                async: false,
                data: { OldPass: data.field.OldPass, Pass: data.field.Pass },
                success: function (datas) {
                    if (0 == datas.code) {
                        layer.msg(datas.msg, {
                            icon: 1,
                            time: 3000 //Close after 2 seconds (if not configured, the default is 3 seconds)）
                        }, function() {
                            location.reload();
                            layer.close(index); //Then execute the close.
                        });
                    } else {
                        layer.msg(datas.msg, {
                            icon: 1,
                            time: 3000 //Close after 2 seconds (if not configured, the default is 3 seconds)）
                        }, function() {
                            layer.closeAll();
                        });
                    }
                },
                error: function (e) {
                    layer.closeAll();
                    alert("Error！！");
                }
            });
        });
    })
</script>